@value colors: "../_styles/colors.css";
@value grayFive, brandPrimary from colors;

.container {
  color: grayFive;
}

.header {
  color: brandPrimary;
}

.links {
  color: grayFive;
}

.link {
  color: grayFive;
  content: "";
}
